# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.so
*.ipynb_checkpoints

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
.venv/
env/
venv/
ENV/
*.env

# VSCode settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs and temporary files
*.log
*.tmp
*.bak

# Data files (if needed)
# Comment out if you wish to push final CSVs
*.csv
*.xlsx

# Power BI temp files (optional)
*.pbix~

# Project-specific
master_ecommerce_dataset.csv
master_ecommerce_dataset_cleaned.csv
master_ecommerce_dataset_final.csv
Store Analysis.pbix
data/